h3 {
    background-color: darkgoldenrod;
    color: white;
    padding: 5px;
}

h4 {
    background-color:goldenrod;
    color: white;
    padding: 5px;
}

h5 {
    background-color:burlywood;
    color: white;
    padding: 5px;
}