body {
    background: rgb(252, 197, 129) url(../images/background_map.jpeg) repeat top left;
    color: rgb(0, 0, 0);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    position: relative;
    margin: 0px;
}

.header{
    /* font related */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

    /* box-basics */
    background: rgb(134, 97, 2);
    min-width: 400px;
    height: 50px;
    padding: 5px;
   
    /* layout */
    z-index: 1;
    position: relative;

    /* box-shadow */
	/* -moz-box-shadow: 5px 5px 5px rgb(142, 116, 116);
	-webkit-box-shadow: 5px 5px 5px rgb(142, 116, 116);
	box-shadow: 5px 5px 5px rgb(142, 116, 116); */
}

.header-right {
    float: right;
}

.header-sub-img {
    width: 30%;
    object-fit: contain;
    float: left;
}

.header-sub-top {
    font-size: 18px;
    float: left;

    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}

.header-sub-bottom {
    font-size: 13px;
    color:wheat;
    float: left;

    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}

#header-sub-delivery-container {
    cursor: pointer;
    display: inline-block;
    width: 110px;
    padding: 2px;
    margin: 3px;
    border: solid rgb(134, 97, 2);

    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}

#header-sub-delivery-container:hover {
    border: solid white 1px;
    border-radius: 3px;
}

#header-sub-delivery-container:hover .header-sub-top {
    color:wheat;
    font-size: 13px;
}

#header-sub-delivery-container:hover .header-sub-bottom {
    color:white;
    font-size: 18px;
}


#header-sub-account-container {
    cursor: pointer;
    float:right;
    width: 120px;
    padding: 2px;
    margin: 3px;
    border: solid rgb(134, 97, 2);

    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}

#header-sub-account-container:hover {
    border: solid white 1px;
    border-radius: 3px;
}

#header-sub-account-container:hover .header-sub-top {
    color:wheat;
    font-size: 13px;
}

#header-sub-account-container:hover .header-sub-bottom {
    color:white;
    font-size: 18px;
}


#header-sub-order-container {
    cursor: pointer;
    display: inline-block;
    width: 115px;
    padding: 2px;
    margin: 3px;
    border: solid rgb(134, 97, 2);

    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}

#header-sub-order-container:hover {
    border: solid white 1px;
    border-radius: 3px;
}

#header-sub-order-container:hover .header-sub-top {
    color:wheat;
    font-size: 13px;
}

#header-sub-order-container:hover .header-sub-bottom {
    color:white;
    font-size: 18px;
}


.page-title {
    text-align: center;
    margin: 20px auto;
    margin-bottom: 0px;
}

.page-title-sub {
    text-align: center;
    font-style: italic;
    color:darkred;
    font-size: larger;

    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}

.page-title-sub:hover {
    font-size:xx-large;
}

.menu-container {
    /* works for menu-container */
    margin: auto;
    min-width: 100px;
    background-color: bisque;
    /* border-radius: 5px; */

    /* inheritable */
    /* works for all elements within the container */
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: black;

    /* box-shadow is server-dependent */
	-moz-box-shadow: 5px 5px 5px rgb(142, 116, 116);
	-webkit-box-shadow: 5px 5px 5px rgb(142, 116, 116);
	box-shadow: 5px 5px 5px rgb(142, 116, 116);
}

.inline-li-guides {
    cursor: pointer;
    width: 15%;
    height: 100%;
    min-width: 100px;
    display: inline-block;
    padding: 1%;
    margin: 0px;
}

.inline-li-guides:hover{
    background-color:goldenrod;
    color: white;
    border: none;
    /* border-radius: 5px; */
}

/* inline-li-guides + hover(background-color is different) */
.inline-li-guides-selected {
    background-color:darkgoldenrod;
    color: white;
    border: none;

    cursor: pointer;
    width: 15%;
    height: 100%;
    min-width: 100px;
    display: inline-block;
    padding: 1%;
    margin: 0px;
}


.picture-container {
    /* works for menu-container */
    width: 80%;
    margin: auto;
    padding: 20px;
    /* background-color: bisque; */

    /* inheritable */
    /* works for all elements within the container */
    text-align: center;
}

.inline-li-pictures {
    display: inline;
}

.inline-li-pictures div.sub-container {
    display: inline-block;
    width: 100px;
    height: 150px;
    margin: 10px;
    padding: 5px;
    background-color:darkgoldenrod;

    /* box-shadow is server-dependent */
	-moz-box-shadow: 0px 0px 5px 1px #000;
	-webkit-box-shadow: 0px 0px 5px 1px #000;
	box-shadow: 0px 0px 5px 1px #000;

}

.inline-li-pictures div:hover {
    cursor: pointer;
    background-color:goldenrod;
	-moz-box-shadow: 0px 0px 25px 5px #000;
	-webkit-box-shadow: 0px 0px 25px 5px #000;
	box-shadow: 0px 0px 25px 5px #000;
    filter: brightness(100%);
}

.inline-li-pictures img {
    margin: auto;
    width: 100%;
    height: 80%;
    object-fit:contain;
    background-color:bisque;
    filter: brightness(100%);
}

.inline-li-pictures span.fruit-price {
    display: block;
    color: black;
    font-size: 10px;
    font-weight: bold;
    padding-bottom: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#footer {
    margin: auto;
    text-align: center;
    background-color:bisque;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 5px;
    font-size: 13px;
}

#footer a:link {
    text-decoration: none;
    color: rgb(73, 33, 33);
    font-weight: bold;
}

/* *:hover{
    border: solid black;
} */